body {
  text-align: center;
  padding: 5%;
}

.recipe-item {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}


.recipe-text {
  display: inline-block;
  padding-right: 10px;
  text-align: left;
  width: 400px;
}
